<header class="masthead" {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="header-wrapper">
	    {{#if @blog.logo}}<figure class="logo">
			<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
		</figure>{{/if}}
	    <div class="title">
      	<p>{{@blog.description}}</p>
      	<div class="line"></div>
  			<ul class="menu">
  				<li><a href="https://twitter.com/LaFactoriaFr"><i class="fa fa-twitter"></i></a></li>
  				<!-- <li><a href="#"><i class="fa fa-github"></i></a></li> -->
  				<!-- <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
  			</ul>
	    </div>
	    <div class="bottom">
        <a href="mailto:nospam@cnil.fr" owned="c o n t a c t # l a f a c t o r i a . fr" class="contact" id="no-spam"><i class="fa fa-envelope-o"></i> Nous contacter</a>
	    </div>
  	</div>
</header>
