{{#foreach posts}}

	<article class="{{post_class}}">
        <header class="header-post">
        	<span class="meta-post">
        		<time datetime="{{date format='DD/MM/YYYY'}}">Le {{date format="DD/MM/YYYY"}}</time>
        	</span>
        	<h2 class="title-post">
        		<a href="{{url}}">{{{title}}}</a>
    		</h2>
        </header>

    	{{#if image}}
			<figure class="img-post">
				<img src="{{image}}" alt="">
			</figure>
		{{/if}}

        <section class="post-excerpt">
			<p>{{excerpt}}&hellip;</p>
			<p>
				<a href="{{url}}" class="more">Continuer la lecture <i class="fa fa-angle-double-right"></i></a>
			</p>
        </section>
  	</article>

{{/foreach}}
