{{!< default}}

{{#post}}

{{> "header"}}

<section class="container">

	<article class="{{post_class}} single">
        <header class="header-post">
        	<span class="meta-post">
            	<time datetime="{{date format='DD/MM/YYYY'}}">Le {{date format="DD/MM/YYYY"}}</time>
        	</span>
          	<h2 class="title-post">{{{title}}}</h2>
        </header>

        <section class="content-post">
			{{content}}
		</section>

		<footer class="footer-post">

			{{#author}}
			<section class="author-post">
				{{#if image}}
					<figure class="avatar">
						<img src="{{image}}" alt="{{name}}">
					</figure>
				{{/if}}

				<div class="bio">
					<span>Auteur</span>
					<h4 class="author-name">
						<a href="{{url}}">{{name}}</a>
					</h4>
					{{#if bio}}
						<p>{{{bio}}}</p>
					{{/if}}
				</div>
			</section>
			{{/author}}

			<section class="share">
				<h4>Partagez</h4>
				<a href="https://twitter.com/share?text={{title}}&url={{url absolute="true"}}" class="fa fa-twitter" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
					<span class="hidden">Twitter</span>
				</a>

				<a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" class="fa fa-facebook" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
					<span class="hidden">Facebook</span>
				</a>

				<a href="https://plus.google.com/share?url={{url absolute="true"}}" class="fa fa-google-plus" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
					<span class="hidden">Google+</span>
				</a>
			</section>
		</footer>

		<section class="comments-post">
			<!-- Disqus Comments -->

		</section>

		{{/post}}
  	</article>
</section>
