/* ==========================================================================
   Table of Contents
   ========================================================================== */
/*
    0.  Normalize
    1.  Basics
    2.  Code Highlighter (Monokai Sublime style)
    3.  General
    4.  Post
    5.  Media Queries
    6.  Animations
 */
/* ==========================================================================
   0. Normalize.css v2.1.3 | MIT License | git.io/normalize |
   ========================================================================== */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* ==========================================================================
   1. Basics
   ========================================================================== */
html {
  font-size: 16px;
  transition: font-size 0.35s ease-in;
}
body {
  font-family: 'Lato', sans-serif;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  color: #000;
  font-weight: 900;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
figure {
  margin: 0;
}
a {
  color: #39aaa7;
  text-decoration: none;
  transition: color ease 0.2s;
}
a:hover {
  color: #48d3cf;
}
ol,
ul {
  padding-left: 50px;
  font-size: 0.7rem;
}
ol ol,
ul ul,
ul ol,
ol ul {
  margin: 8px 0;
  padding-left: 32px;
}
dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  margin-bottom: 16px;
}
dl dd {
  margin-left: 200px;
  margin-bottom: 16px;
}
li {
  margin: 8px 0;
}
li li {
  margin: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  margin: 55px 0;
  padding: 0;
}
blockquote {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 25px 0;
  padding: 0 0 0 25px;
  border-left: #ccc 7px solid;
}
blockquote p {
  margin: 15px 0;
  font-style: italic;
}
small {
  font-size: 0.9rem;
  color: #000;
}
mark {
  background-color: #ffc336;
}
code,
tt {
  padding: 2px 5px;
  font-family: Consolas, monospace, sans-serif;
  font-size: 0.9rem;
  white-space: pre-wrap;
  border: 1px solid #eee;
  background: #f4f4f4;
  vertical-align: top;
}
pre code {
  padding: 25px !important;
}
pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 30px 0;
  border: 1px solid #eee;
  width: 100%;
  font-family: Consolas, monospace, sans-serif;
  font-size: 0.9rem;
  white-space: pre;
  overflow: auto;
  background: #f4f4f4;
}
pre code,
tt {
  font-size: 0.9rem;
  white-space: -moz-pre-wra;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
  vertical-align: inherit;
}
kbd {
  display: inline-block;
  margin-bottom: 6px;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #555;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9rem;
  font-weight: 400;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 1px 0 0 #fff inset;
}
table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 28px 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}
table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #efefef;
}
table th {
  color: #000;
}
table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #efefef;
}
table table table {
  background-color: #fff;
}
table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #f3f3f3;
}
table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
  background: transparent;
}
img {
  width: 100%;
  height: auto;
}
.hidden {
  display: none;
}
/* ==================================================================================================================
   2. Code Highlighter (Monokai Sublime style) | Derived from Monokai by noformnocontent http://nn.mit-license.org/
   ================================================================================================================== */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
  -webkit-text-size-adjust: none;
}
.hljs,
.hljs-tag,
.css .hljs-rules,
.css .hljs-value,
.aspectj .hljs-function,
.css .hljs-function,
.hljs-preprocessor,
.hljs-pragma {
  color: #f8f8f2;
}
.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}
.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: #ae81ff;
}
.hljs-tag .hljs-value,
.hljs-code,
.hljs-title,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
  color: #a6e22e;
}
.hljs-link_url {
  font-size: 80%;
}
.hljs-strong,
.hljs-strongemphasis {
  font-weight: bold;
}
.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child,
.hljs-typename {
  font-style: italic;
}
.hljs-keyword,
.ruby .hljs-class .hljs-keyword:first-child,
.ruby .hljs-function .hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
  color: #f92672;
}
.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-aspect .hljs-keyword:first-child,
.hljs-constant,
.hljs-typename,
.css .hljs-attribute {
  color: #66d9ef;
}
.hljs-variable,
.hljs-params,
.hljs-class .hljs-title,
.hljs-aspect .hljs-title {
  color: #f8f8f2;
}
.hljs-string,
.css .hljs-id,
.hljs-subst,
.hljs-type,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url {
  color: #e6db74;
}
.hljs-comment,
.hljs-javadoc,
.hljs-annotation,
.hljs-decorator,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #75715e;
}
.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
  opacity: 0.5;
}
/* ==========================================================================
   3. General
   ========================================================================== */
.masthead {
  background: rgba(123, 176, 166, 0.6) url("../img/header.jpg") repeat-y;
  width: 30%;
  max-height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 80px;
}
.masthead .header-wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 10px;
  padding: 10px;
}
.masthead .header-wrapper .line {
  display: inline-block;
  height: 3px;
  width: 30%;
  background: #000;
}
.masthead .header-wrapper .logo {
  margin: 0;
  display: inline-block;
  width: 15.6rem;
  height: auto;
}
.masthead .header-wrapper .logo a img {
  width: 100%;
  height: 100%;
}
.masthead .header-wrapper .logo + .title {
  position: initial;
}
.masthead .header-wrapper .title a {
  position: relative;
  top: 50%;
}
.masthead .header-wrapper .title a h1 {
  font-size: 2.2rem;
  margin: 1rem 0 0.15rem 0;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0 0.5rem;
}
.masthead .header-wrapper .title p {
  font-size: 1.2rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0 0.5rem;
}
.masthead .header-wrapper .bottom {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
.masthead .header-wrapper .bottom .contact {
  display: inline-block;
  padding: 0.6rem 1.3rem 0.55rem 1rem;
  border-radius: 50px;
  border: 2px solid #fff;
  background-color: #7bb0a6;
  color: #fff;
  outline: 0;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2rem;
  transition: border-color 0.7s ease-in-out;
  transition: background-color 0.7s ease-in-out;
  margin: auto;
}
.masthead .header-wrapper .bottom .contact:hover {
  color: #7bb0a6;
  background-color: #fff;
  border-color: #7bb0a6;
}
.masthead .header-wrapper .bottom .contact i {
  position: relative;
  right: 0.35rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}
.masthead .header-wrapper .bottom .contact:hover i {
  -webkit-animation: arrow-bounce-up 2s infinite;
  -moz-animation: arrow-bounce-up 2s infinite;
  -o-animation: arrow-bounce-up 2s infinite;
  animation: arrow-bounce-up 2s infinite;
  color: #7bb0a6;
}
.masthead .header-wrapper .menu {
  list-atyle: none;
  padding: 0;
  margin: 0;
}
.masthead .header-wrapper .menu li {
  display: inline-block;
}
.masthead .header-wrapper .menu li:hover a {
  bottom: 8px;
}
.masthead .header-wrapper .menu li a {
  color: #000;
  font-size: 2.4rem;
  position: relative;
  bottom: 0;
  transition: bottom 0.7s ease-in-out;
}
.masthead .header-wrapper .menu li:nth-child(2) {
  margin: 0 1.7rem;
}
/* ==========================================================================
   4. Post
   ========================================================================== */
.container {
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  padding-bottom: 3.75rem;
}
.container .post {
  position: relative;
  margin: 0 auto;
  width: 80%;
  border-bottom: double 7px #7bb0a6;
  padding: 3.75rem 0;
}
.container .post.single {
  padding: 3.75rem 0 0 0;
  border-bottom: none;
}
.container .post .header-post .meta-post time {
  font-size: 0.85rem;
}
.container .post .header-post .title-post {
  margin: 5px 0 15px 0;
  font-size: 2.2rem;
  font-weight: 900;
  color: #7bb0a6;
}
.container .post .header-post .title-post a {
  color: #7bb0a6;
  transition: color 0.7s ease-in-out;
}
.container .post .header-post .title-post a:hover {
  color: #000;
}
.container .post .img-post {
  display: inline-block;
  margin: 0;
  width: 100%;
  height: auto;
}
.container .post .img-post img {
  width: 100%;
  height: 100%;
}
.container .post .post-excerpt p {
  font-size: 0.7rem;
  line-height: 1.65;
  margin-top: 15px;
}
.container .post .post-excerpt p:last-child {
  padding: 5px 0 25px 0;
}
.container .post .post-excerpt p:last-child .more {
  display: block;
  padding: 0.35rem 1.3rem 0.4rem 1rem;
  border-radius: 50px;
  border: 2px solid #3f413a;
  color: #3f413a;
  outline: 0;
  float: right;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  transition: border-color 0.2s ease-in-out;
}
.container .post .post-excerpt p:last-child .more i {
  position: relative;
  left: 0.35rem;
  top: 0.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #7bb0a6;
}
.container .post .post-excerpt p:last-child .more:hover {
  border-color: #7bb0a6;
}
.container .post .post-excerpt p:last-child .more:hover i {
  -webkit-animation: arrow-bounce 2s infinite;
  -moz-animation: arrow-bounce 2s infinite;
  -o-animation: arrow-bounce 2s infinite;
  animation: arrow-bounce 2s infinite;
}
.container .post .content-post {
  border-bottom: double 7px #7bb0a6;
  padding-bottom: 3rem;
}
.container .post .content-post p {
  font-size: 0.7rem;
  line-height: 1.65;
}
.container .post .footer-post {
  margin: 3rem 0;
  position: relative;
  padding: 0 3.5rem;
}
.container .post .footer-post .author-post {
  display: inline-block;
}
.container .post .footer-post .author-post .avatar {
  display: inline-block;
  width: 5.9rem;
  height: auto;
  margin-right: 20px;
  margin-top: 10px;
  float: left;
}
.container .post .footer-post .author-post .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.container .post .footer-post .author-post .bio {
  display: inline-block;
  width: 275px;
  overflow: hidden;
}
.container .post .footer-post .author-post .bio span {
  font-size: 0.85rem;
  font-style: italic;
  color: #bdc3c7;
}
.container .post .footer-post .author-post .bio .author-name {
  text-transform: uppercase;
  font-weight: 900;
  margin: 10px 0 8px 0;
}
.container .post .footer-post .author-post .bio .author-name a {
  font-size: 1.3rem;
  color: #000;
}
.container .post .footer-post .author-post .bio p {
  margin: 0 0 8px 0;
  font-size: 0.9rem;
}
.container .post .footer-post .share {
  display: inline-block;
  float: right;
  text-align: center;
  margin-top: 30px;
}
.container .post .footer-post .share h4 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.3rem;
  color: #000;
  margin: 0 0 12px 0;
}
.container .post .footer-post .share a {
  font-size: 1.6rem;
  display: inline-block;
}
.container .post .footer-post .share :nth-child(2) {
  color: #00b6f1;
}
.container .post .footer-post .share :nth-child(3) {
  color: #3a589b;
  margin: 0 1rem;
}
.container .post .footer-post .share :last-child {
  color: #dd4b39;
}
.container .post .comments-post {
  margin: 0.65rem 0 0 0;
}
/* ==========================================================================
   5. Media Queries
   ========================================================================== */
@media screen and (max-width: 1165px) {
  .container .post .footer-post {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 960px) {
  .masthead {
    width: 100%;
    text-align: center;
    position: initial;
    padding: 1.8rem 0 1rem 0;
  }
  .masthead .header-wrapper .bottom {
    display: block;
    position: relative;
    margin-top: 2rem;
  }
  .masthead .header-wrapper .bottom .menu li a {
    font-size: 2.1rem;
  }
  .masthead .header-wrapper .bottom .menu li:nth-child(2) {
    margin: 0 1rem;
  }
  .container {
    width: 100%;
    position: initial;
  }
  .container .post .footer-post {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 715px) {
  .container .post .footer-post {
    text-align: center;
  }
  .container .post .footer-post .author-post {
    display: block;
  }
  .container .post .footer-post .author-post .bio {
    width: 100%;
  }
  .container .post .footer-post .author-post .bio .author-name {
    margin: 6px 0 7px 0;
  }
  .container .post .footer-post .author-post .bio p {
    padding: 0 3rem;
  }
  .container .post .footer-post .author-post .avatar {
    float: none;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .container .post .footer-post .share {
    float: none;
    margin-top: 30px;
  }
}
@media screen and (max-width: 568px) {
  html {
    font-size: 12px;
  }
  .container .post .post-excerpt p:last-child .more {
    padding: 0.45rem 1.3rem 0.35rem 1rem;
    font-size: 0.9rem;
    font-weight: 900;
  }
  .container .post .post-excerpt p:last-child .more i {
    top: 0.15rem;
    font-size: 1.4rem;
  }
}
/* ==========================================================================
   6. Animations
   ========================================================================== */
@-moz-keyframes arrow-bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  60% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}
@-webkit-keyframes arrow-bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  60% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}
@-o-keyframes arrow-bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  60% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}
@keyframes arrow-bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
  60% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}


@-moz-keyframes arrow-bounce-up {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  60% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@-webkit-keyframes arrow-bounce-up {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  60% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@-o-keyframes arrow-bounce-up {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  60% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@keyframes arrow-bounce-up {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  60% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
